<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}"><I>MiDSystem</I></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            
              <li><a href="{% url 'reference_guided' %}">Reference-Guided Assembly</a></li>
              <li><a href="{% url 'non_ref' %}">Non-Reference Assembly</a></li>
              <li><a href="{% url 'meta_home' %}">Metagenomics Analysis</a></li>
              <li><a href="{% url 'help' %}">Help</a></li>
              <!--<li><a href="{% url 'merge_sample' %}">Merge MetaSample</a></li>-->
   
          </ul>
          <!-- Right Navbar -->
          <ul class="nav navbar-nav navbar-right">
              <li><a href="mailto:s89066@gmail.com">Contact</a></li>
          </ul>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
